html
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    
    body 
    { 
        position: relative; 
        width: 100vw; 
        height: 100vh; 
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        transform: translateX(0); 
        transition: transform 1s ease-in-out; 
        will-change: transform; 
 
        ::selection 
        { 
            color: #FFFFFF; 
            background: rgb(255, 62, 62); 
        } 
        ::-moz-selection 
        { 
            color: #FFFFFF; 
            background: rgb(255, 62, 62); 
        } 
    } 
}