.slide:nth-child(1)
{
    .bloc 
    {
        &:nth-child(1)
        { 
            background: url(../assets/img/bg1.jpg);
            background-size: cover;
            background-position: center;
        }
    }
}