.slide
{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transform: translate(100%, 0%);
    transition: opacity ease-in-out, transform ease-in-out;//EDIT
    transition-duration: 0.75s;//EDIT
    transition-delay: 0.75s;
    will-change: opacity, transform;
    z-index: 0;

    &.active
    {
        opacity: 1;
        transform: translate(0, 0);
        transition-delay: 0s !important;
        z-index: 1;
    }

    &:first-child
    {
        left: 0;
    }

    .bloc 
    { 
        position: relative; 
        width: 100%;
        height: 100%;

        &::after 
        { 
            content: '';
            position: absolute; 
            left: 0; 
            top: 0; 
            width: 100%; 
            height: 100%; 
            background: #000000; 
            opacity: 0.25; 
        }
    }
}

@import 'slide-1.scss';
@import 'slide-2.scss';
@import 'slide-3.scss';
@import 'slide-4.scss';
@import 'slide-5.scss';
@import 'slide-6.scss';